{% extends "base.html" %} {% block title%}{{super()}} - Profile{% endblock %} {%
block content %}

<h2>User Profile</h2>
{#
<p>Hidden Tags:</p>
{{ form.hidden_tag() }} #} {% if form.errors %}
<ul class="error">
  {% for field_name, field_errors in form.errors|dictsort if field_errors %} {%
  for error in field_errors %}
  <li>{{ form[field_name].label }}: {{ error }}</li>
  {% endfor %} {% endfor %}
</ul>
{% endif %}

<form action="{{url_for('profile')}}" method="post">
  {{ form.csrf_token }}
  <div>{{ form.name.label }} {{form.name(size=20)}}</div>
  <div>{{ form.email.label }} {{form.email(size=20)}}</div>
  <div>{{ form.quan.label }} {{form.quan(size=20)}}</div>
  <div>{{ form.comments.label }} {{form.comments(size=20)}}</div>
  <div>{{ form.rel.label }} {{form.rel(size=20)}}</div>
  <div>{{ form.accommodations.label }} {{form.accommodations(size=20)}}</div>
  <div>{{ form.faveColor.label }} {{form.faveColor()}}</div>

  <button type="submit">Save Profile</button>
</form>
{% endblock %}
